body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 70px; 
    background-color: #b192ce; 
    color: #ffffff; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
}


header a {
    color: #ffffff;
    font-weight: 700;
}

header a:hover {
    color: #ffccff; 
}

.logo {
    height: 85px; /* Define a altura da imagem */
    margin: 0; /* Remove qualquer margem extra */
    object-fit: contain; /* Garante que a imagem mantenha as proporções */
    position: relative; /* Para ajustes finos */
    top: 30px;
    left: -80px; /* Remove deslocamento para a direita */
    transform: translateX(-10px); /* Centraliza perfeitamente, ajustando manualmente */
}

.destaques{
    margin-bottom: 2%;
}

.card {
    border:solid 1px #8f8f8f;
}


.card-home{
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
    color: #333;

}

.card-img-top {
    height: auto;
    object-fit: cover;
}

.editor{
    position: absolute;
    right: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: black;
}
.btn{
    background-color: #832fbe;
    border-color: #832fbe;
}
.btn:hover{
    background-color: #712aa3;
    border-color: #712aa3;
}
.signIn-link{
    color: #832fbe;
    text-decoration: none;
}
.signIn-link:hover{
    text-decoration: underline;
    color: #712aa3;
}

.container-news{
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 768px) {
    #logo {
        font-size: 1.5rem;
    }

    .card-img-top {
        height: 150px;
    }
}
